body {
  margin: 0;
  /* background-color: #f4f4f4; */
  background-color: #e4e4e4;
  font-family: Georgia, serif;
  color: #111111;
}

#about-layout {
  margin-left: 180px; /* espacio para el menú lateral */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  min-height: 100vh;
  gap: 40px;
  box-sizing: border-box;
}

.about-image img {
  max-width: 300px;
  height: auto;
  display: block;
  margin-top: -400px;
}

.about-text {
  font-family: 'EB Garamond', serif;
  line-height: 1.8;
  font-size: 18px;
  color: #333;
  font-weight: 500;
  text-align: justify;
  max-width: 600px;
}


.about-text h1 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #535353;
}


