#visor-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(103, 103, 103);
  /* background-color: #e4e4e4; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.visor-contenido {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  background: white;
  padding: 20px;
  box-shadow: 0 0 20px black;
}

.visor-imagen {
  max-width: 100%;
  max-height: 70vh;
  display: block;
  margin: 0 auto;
}

.visor-flecha {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.visor-flecha.izquierda {
  left: -200px;
  background-image: url('../img/icons/left-arrow.svg');
}

.visor-flecha.derecha {
  right: -200px;
  background-image: url('../img/icons/right-arrow.svg');
}


.visor-descripcion {
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  border-top: 1px solid #ccc;
}
